.blog-card {
	position: relative;
	display: block;
	text-decoration: none;
	color: var(--font-color);
	padding: 2rem;
	margin-bottom: 3rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease-out;
	overflow: hidden;
}

.blog-card:hover,
.blog-card:focus {
	box-shadow: 0 1.6rem 3rem rgba(0, 0, 0, 0.2);
	transform: translateY(-0.2rem);
	outline: none;
}

.blog-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0.5rem;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.blog-card:nth-child(5n+1)::before {
	background-image: linear-gradient(to bottom, #f53354, #c30020);
}

.blog-card:nth-child(5n+2)::before {
	background-image: linear-gradient(to bottom, #e233f5, #7c00c3);
}

.blog-card:nth-child(5n+3)::before {
	background-image: linear-gradient(to bottom, #46f533, #07c300);
}

.blog-card:nth-child(5n+4)::before {
	background-image: linear-gradient(to bottom, #f5ef33, #c39c00);
}

.blog-card:nth-child(5n+5)::before {
	background-image: linear-gradient(to bottom, #33f5e0, #004ec3);
}

.blog-card__title {
	font-size: 2.2rem;
	color: var(--font-color);
	margin: 0;
	margin-bottom: 0.5rem;
	font-weight: 300;
}

.blog-card__info {
	display: block;
	font-size: 1.2rem;
	margin-bottom: 2.6rem;
}

.blog-card__spoiler {
	font-size: 1.6rem;
	margin: 0;
}
