.layout {
	max-width: 100rem;
	margin: 0 auto;
}

@media screen and (max-width: 1250px) {
	.layout {
		max-width: 90rem;
	}
}

@media screen and (max-width: 1000px) {
	.layout {
		max-width: 70rem;
	}
}

@media screen and (max-width: 800px) {
	.layout {
		max-width: 60rem;
	}
}

@media screen and (max-width: 700px) {
	.layout {
		max-width: 50rem;
	}
}

@media screen and (max-width: 575px) {
	.layout {
		max-width: 45rem;
	}
}

@media screen and (max-width: 525px) {
	.layout {
		max-width: 100%;
		padding: 0 3rem;
	}
}
